<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sequelizer - Authenticate</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/js/login.js"></script>
    <link rel="stylesheet" href="/assets/stylesheets/login.css">
</head>

<body>
    <div id="login-ctn">
        <h1>Login</h1>
        <label for="email">Email</label>
        <input id="email" name="email">
        <label for="password">Password</label>
        <input id="password" type="password" name="password">
        <button id="login">Login</button>
        <p id="register-link">Not Registered? Click here to Sign up!</p>
    </div>
    <div id="register-ctn">
        <h1>Register</h1>
        <label for="email2">Email</label>
        <input id="email2" name="email2">
        <label for="password2">Password</label>
        <input id="password2" type="password" name="password2">
        <button id="register">Register</button>
        <p id="login-link">Already Registered? Click here to Log in!</p>
    </div>
</body>

</html>