<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sequelizer - Home</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/assets/js/dashboard.js"></script>
    <link rel="stylesheet" href="/assets/stylesheets/dashboard.css">
</head>

<body>
    <div class="background">
        <div class="container">
            <div id="header">
                <h1>Dashboard</h1>
            </div>
            <h3>Create a New Project</h3>
            <div class="new-project">
                <input id="project-name" name="project-name" placeholder="Project Name">
                <button id="new-project">New Project</button>
            </div>
            <div id="card-container">
            </div>
        </div>
    </div>
</body>

</html>